<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/imgs/covidlogo.png" alt="" class="logoimg">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-collapse " id="collapsibleNavId" [collapse]="!isCollapsed">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="countries" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}">Countries</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
