<section class="section">



  <div class="spinner-border-container" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <img src="../../assets/imgs/covidlogo.png" alt="" class="logoimg">
      <p class="lead font-weight-normal">Protect yourself and others | COVID-19</p>
    </div>


    <div class="row">
      <div class="col-md-6 mx-auto">

        <div class="form-group">
          <label for="co"></label>
          <select id="co" class="form-control" name="" id="countryOptSelect" #countryOptSelect
            (change)="log(countryOptSelect.value)">
            <option *ngFor="let contry of conuntries" value="{{contry}}">{{contry}}</option>
          </select>
        </div>
      </div>
    </div>



    <app-dashboard [totalConfirmed]=totalConfirmed [totalDeathes]=totalDeathes [totalRecovered]=totalRecovered
      [totalActive]=totalActive></app-dashboard>


    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>serial number</th>
              <th>Date</th>
              <th>#Cases</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sc of selectedCountryDate; index as i">
              <td>{{i}}</td>
              <td>{{sc.date |date }}</td>
              <td>{{sc.cases ||0}}</td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="col-md-6">
        <google-chart [type]="chart.LineChart" [data]="DataTableNew" [options]="chart.options">
        </google-chart>

        <!-- {{DataTableNew |json}} -->

      </div>
    </div>


  </div>

</section>
